# WordPress Core
wp-admin/
wp-includes/

# WordPress Configuration

# WordPress Content

# WordPress Cache
wp-content/cache/

# WordPress Logs
wp-content/debug.log
wp-content/upgrade/

# Miscellaneous
.htaccess
error_log
license.txt
readme.html
sitemap.xml

.github/workflows/heroku-deploy.yml
